/* ======= */
/* GENERAL */
/* ======= */

* {
	box-sizing:border-box;
	-webkit-text-size-adjust:100% !important;
	-webkit-font-smoothing:antialiased !important;
	-webkit-tap-highlight-color:transparent !important;
}

@font-face {
	font-family:"Inter";
	src:url("../fonts/Inter.woff2") format("woff2");
}

html, body {
	margin:0px;
	padding:0px;
	font-family:"Inter";
}

html {
	background:url("../images/background.png");
	image-rendering:pixelated;
}

h1 {
	border-bottom:2px solid #000000;
	margin:32px 0px 0px;
	padding-bottom:4px;
}

h1:first-of-type {
	margin:0px;
}

h2 {
	margin:16px 0px 0px;
}

p {
	margin:16px 0px 0px;
	padding:0px 16px;
}

ul {
	margin:16px 0px 0px;
	padding:0px 16px;
}

li {
	margin:8px 0px 0px;
	list-style-type:none;
	background:url("../images/dot.png") no-repeat;
	background-position:4px 6px;
	padding-left:24px;
}

.links {
	display:inline-flex;
	gap:15px;
	justify-content:center;
	align-items:center;
	font-size:0px;
}

.links a:hover {
	filter:brightness(150%) contrast(50%);
}

/* ========= */
/* PAGE BASE */
/* ========= */

#container {
	max-width:1500px;
	margin:40px auto;
}

@media (max-width:850px) {
	#container {
		margin:0px !important;
	}
}

#page {
	margin:0px 50px;
	font-size:18px;
	background:#FFFFFF;
	border:2px solid #000000;
	box-shadow:5px 5px #444444;
}

@media (max-width:850px) {
	#page {
		margin:0px !important;
		border:0px !important;
		box-shadow:0px 2px #000000, 0px 7px #444444;
	}
}

#header, #nav, #footer {
	padding:10px 20px;
	display:flex;
	gap:min(20px, 2.5%);
	justify-content:center;
	align-items:center;
}

#header, #nav, #content {
	border-bottom:2px solid #000000;
}

#header {
	background:url("../images/backgroundHeader.png");
	font-size:0px;
}

#header a {
	max-width:calc(100% - 40px);
}

#header a img {
	width:100%;
	height:100%;
}

@media (max-width:850px) {
	#header a img {
		image-rendering:auto !important;
	}
}

#nav, #footer {
	background:#BBBBBB;
}

@media (max-width:850px) {
	#nav {
		flex-wrap:wrap !important;
		gap:10px !important;
	}
}

#nav a, #gameArea > a, #error a {
	width:150px;
	height:50px;
	border-radius:5px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid #000000;
	font-size:22px;
	color:#000000;
	font-weight:500;
	background:#DDDDDD;
	transform:translate(-2px, -2px);
	box-shadow:2px 2px #000000, 1px 1px #000000;
	transition:transform 0.1s, box-shadow 0.1s;
}

@media (max-width:850px) {
	#nav a {
		width:calc(50% - 5px) !important;
	}
}

#nav a:hover, #gameArea > a:hover, #error a:hover {
	transform:translate(-4px, -4px);
	box-shadow:4px 4px #000000, 3px 3px #000000, 2px 2px #000000, 1px 1px #000000;
	background:#FFFFFF;
}

#nav a:active, #gameArea > a:active, #error a:active {
	transform:translate(0px, 0px);
	box-shadow:0px 0px #000000;
}

#content {
	display:flex;
	min-height:400px;
	background:url("../images/backgroundContent.png");
}

#content.art {
	background:url("../images/backgroundArt.png");
}

#left, #right {
	max-width:200px;
	padding:10px;
	flex:1;
}

@media (max-width:850px) {
	#left, #right {
		display:none !important;
	}
}

#title {
	background:#DDDDDD;
	margin:-16px -16px 8px;
	padding:8px 16px;
	font-size:24px;
	font-weight:bold;
	border-bottom:2px solid #000000;
}

#main {
	border-left:2px solid #000000;
	border-right:2px solid #000000;
	background:#FFFFFF;
	width:100%;
	padding:16px 16px 32px;
	flex:5;
}

@media (max-width:850px) {
	#main {
		border-left:0px !important;
		border-right:0px !important;
	}
}

#footer {
	flex-direction:column;
	gap:10px;
}

/* ==== */
/* NEWS */
/* ==== */

.newsImage {
	text-align:center;
}

.newsImage img {
	max-width:100%;
}

.youtube {
	width:100%;
	aspect-ratio:16 / 9;
}

/* ============= */
/* GAMES & MEDIA */
/* ============= */

.list {
	margin:16px 16px 0px;
	display:flex;
	gap:15px;
	flex-wrap:wrap;
	justify-content:center;
}

.list a {
	width:calc(20% - 15px);
	font-size:0px;
	border:2px solid #000000;
	transform:translate(-2px, -2px);
	box-shadow:2px 2px #000000, 1px 1px #000000;
	transition:transform 0.1s, box-shadow 0.1s;
}

@media (max-width:850px) {
	.list a {
		width:calc(33% - 15px) !important;
	}
}

#games.list a {
	width:calc(33% - 15px);
}

@media (max-width:850px) {
	#games.list a {
		width:100% !important;
	}
}

.list a:hover {
	transform:translate(-4px, -4px);
	box-shadow:4px 4px #000000, 3px 3px #000000, 2px 2px #000000, 1px 1px #000000;
}

.list a:active {
	transform:translate(0px, 0px);
	box-shadow:0px 0px #000000;
}

.list img {
	width:100%;
	image-rendering:auto;
}

/* ===== */
/* GAMES */
/* ===== */

#gameArea {
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:16px 16px 0px;
}

#gameContainer {
	position:relative;
	margin:16px 0px 0px;
	border:2px solid #000000;
	width:100%;
	max-width:800px;
	aspect-ratio:16 / 9;
	box-sizing:content-box;
}

#game {
	position:absolute;
	width:100%;
	height:100%;
	border:0px;
	background:#000000;
}

#gameArea .links {
	margin:16px 0px 0px;
}

/* ===== */
/* ABOUT */
/* ===== */

.person {
	margin:16px 16px 0px;
}

.person .card {
	display:flex;
	height:104px;
}

@media (max-width:850px) {
	.person .card {
		width:100% !important;
		height:unset !important;
		flex-direction:column !important;
		align-items:center !important;
	}
}

.person .card > img {
	width:104px;
	height:104px;
	border:2px solid #000000;
}

.person .info {
	height:104px;
	margin-left:16px;
	display:inline-flex;
	flex-direction:column;
	justify-content:center;
	gap:8px;
}

@media (max-width:850px) {
	.person .info {
		margin-left:unset !important;
		align-items:center !important;
	}
}

#main .links {
	padding:5px;
	background:#BBBBBB;
	width:fit-content;
	border:2px solid #000000;
	box-shadow:3px 3px #444444;
}

.person h2 {
	margin:0px;
}

.person p {
	padding:0px;
	margin:8px 0px 32px;
}

.person:last-of-type p {
	margin:8px 0px 16px;
}

/* =============== */
/* DOOM: TGE - ART */
/* =============== */

.artwork {
	margin:16px 16px 0px;
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:15px;
}

.artwork .links {
	font-size:16px;
	font-weight:bold;
}

.artwork .links *:last-of-type {
	background:url("../images/dot.png") no-repeat;
	background-position:0px 6px;
	padding-left:24px;
}
/* === */
/* 404 */
/* === */

#error {
	margin:16px 16px 0px;
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:15px;
}

#error img {
	width:64px;
}